.app-splash-screen {
    background: rgb(95, 180, 230);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: left 0.5s;
  }

  .app-label {
    margin-top: 32px;
    color: #fff;
    font-family: "Pacifico", cursive;
    font-size: large;
  }

  .app-splash-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .app-logo {
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px;
  }

  .app-loader {
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: center;
    background-size: contain;
    width: 80px;
    height: 80px;
    margin-top: 80px;
  }