.mat-stepper-vertical {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

.bmiValueM {
    align-content: center;
    width: 150px;
    height: 50px;
    border: 5px solid rgb(95, 180, 230);
    font-size: 30px;
    font-weight: 900;
    padding: 10px;
    text-align: center;
}

.loader {
    text-align: center;
    align-items: center;
}

.btn-outline-primary {
    padding: 50px 256px;
    padding-top: 20px;
    padding-bottom: 16px;
    margin: 16px;
    font-size: 16px;
}

.btn-primary {
    padding: 50px 256px;
    padding-top: 20px;
    padding-bottom: 16px;
    margin: 16px;
    font-size: 16px;
}

.form-class {
    font-size: 26px;
}

.result {
    font-size: 26px;
    text-align: center;
    vertical-align: middle;
}