<div class="form-class" [hidden]="!showQuestionForm">

    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="pdFormGroup">
        <form [formGroup]="pdFormGroup">
          <ng-template matStepLabel>Személyes adatok</ng-template>

            <div class="col-10">
              <mat-form-field>
                <mat-label>Keresztnév: </mat-label>
                <input matInput placeholder="keresztnév" formControlName="nameCtrl" [(ngModel)]="model.nameVar" required>
              </mat-form-field>
            </div>

            <div class="col-10">
              <mat-slider thumbLabel [(ngModel)]="model.ageVar" min="0" max="99" step="1" [displayWith]="ageFormatter" formControlName="ageCtrl"></mat-slider> {{model.ageVar}} év
            </div>

            <mat-radio-group aria-label="Nem:" [(ngModel)]="model.genderVar" formControlName="genderCtrl">
        <div class="row">

          <div class="col-3"></div>
          <div class="col-1">
            <mat-radio-button value="male" ><fa-icon [icon]="fa_mars" size="3x"></fa-icon></mat-radio-button>
          </div>
          <div class="col-2"></div>
          <div class="col-1">
            <mat-radio-button value="female"><fa-icon [icon]="fa_venus" size="3x"></fa-icon></mat-radio-button>
          </div>
          <div class="col-3"></div>

        </div>
      </mat-radio-group>

      <div class="col-10">

          <div>
            <button mat-button matStepperNext type="button" class="btn btn-primary">Következő</button>
          </div>
        </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="hwFormGroup">
        <form [formGroup]="hwFormGroup">
          <ng-template matStepLabel>Magasság és testsúly:</ng-template>

        <div class="col-10">

          <mat-form-field>
            <mat-label>Testmagasság</mat-label>
            <input matInput formControlName="heightCtrl" [(ngModel)]="model.heightVar" required type="number">
            <span matSuffix>cm</span>
          </mat-form-field>
        </div>

          <div class="col-10">

          <mat-form-field>
            <mat-label>Testsúly</mat-label>
            <input matInput formControlName="weightCtrl" [(ngModel)]="model.weightVar" required type="number">
            <span matSuffix>kg</span>
          </mat-form-field>
          </div>

        <div class="col-10">
          <div>
            <button mat-button matStepperPrevious type="button" class="btn btn-outline-primary">Vissza</button>
            <button mat-button matStepperNext type="button" class="btn btn-primary">Következő</button>
          </div>
        </div>

        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Összegzés</ng-template>
        <div class="col-10">
          <p><h1>A Te neved {{model.nameVar}}, {{model.ageVar}} éves vagy és {{genderToText()}}. <br>
          A testsúlyod {{model.weightVar}} kg és {{model.heightVar/100}} méter magas vagy. <br>
          Amennyiben szeretnéd megtudni a BMI értékedet kattints a "Befejezés" gombra.</h1>
        </div>
        <div class="col-10">
          <button mat-button (click)="clearForm()" type="button" class="btn btn-outline-primary">Törlés</button>
          <button mat-button (click)="showBmi()" type="button" class="btn btn-primary">Befejezés</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>

  <div class="row">
    <div class="col-5"></div>
    <div class="col-2" style="text-align: center;">
      <div [hidden]="!showSpinner" class="loader"></div>
    </div>
    <div class="col-5"></div>
  </div>


  <div class="result" [hidden]="!showBmiResult">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <h1>A Te BMI értéked </h1>
      </div>
      <div class="col-1"></div>
    </div>

    <div class="row">
      <div class="col-5"></div>
      <div class="col-2 bmiValueM" style="color: {{genderColor}};">
        {{bmiValue | number}}
      </div>
      <div class="col-5"></div>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <h1> ami alapján a(z) {{classificationText}} csoportba tartozol.</h1>
      </div>
      <div class="col-1"></div>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div>
          <button mat-button (click)="modifyFormContent()" type="button" class="btn btn-outline-primary">Módosítom az előzőt</button>
          <button mat-button (click)="startFromScratch()" type="button" class="btn btn-outline-primary">Kitöltöm újra</button>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>