<h1 mat-dialog-title>Helló {{data.name}}</h1>
<div mat-dialog-content>
  <p>Biztos vagy benne, hogy törölni akarod?</p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" type="button" class="btn btn-outline-primary">Nem</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial type="button" class="btn btn-outline-primary">Igen</button>
</div>