/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Font Family */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    text-align: center;
    font-size: 26px;

}
